<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}GalloFino{% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  {% block head %}{% endblock %}
</head>
<body>
  <canvas id="bg"></canvas>
  <div class="container">
    {% block content %}{% endblock %}
  </div>
  <script src="{{ url_for('static', filename='particles.js') }}"></script>
</body>
</html>

